:export {
	mainColor: $mainColor;
	mainBg: $mainBg;
	fontColor: $fontColor;
	fontColor6: $fontColor6;
	blackColor: $blackColor;
	whiteColor: $whiteColor;
	menuActive: $menuActive;
	headerHeight: $headerHeight;
	sideBarBg: $sideBarBg;
	sideBarText: $sideBarText;
	sideBarTextActive: $sideBarTextActive;
	subMenuBg: $subMenuBg;
}
