$mainColor:var(--el-color-primary);  //主要色,使用element-plus的主题色
$mainBg:#F5F5F5; //背景
$blackColor:#000;
$whiteColor:#FFF;
$fontColor:#333; //字体
$fontColor6:#666;
$fontColor9:#999;
$borderColor: #EEE;
$mainBg1:#E7E9EA;

$menuActive: #42b98322;
$headerHeight: 54px;
// sideBar
$sideBarWidth: 216px;
$sideBarHeight: 48px;
$sideBarBg: #304156;
$sideBarText: #bfcbd9;
$sideBarTextActive: #fff;
$subMenuBg: #1f2d3d;