$mainColor:var(--el-color-primary);  //主要色,使用element-plus的主题色
$mainBg:#F5F5F5; //背景
$blackColor:#000;
$whiteColor:#FFF;
$fontColor:#333; //字体
$fontColor6:#666;
$fontColor9:#999;
$borderColor: #EEE;

$headerHeight: 54px; //头部高度
// sideBar
$sideBarWidth: 216px; //侧边栏宽度
$sideBarHeight: 48px; //侧边栏子项高度
$sideBarBg: #304156; //侧边栏背景颜色
$sideBarText: #bfcbd9; //侧边栏文字颜色
$sideBarTextActive: var(--el-color-primary);  //侧边栏菜单激活文字颜色
$subMenuBg: #1f2d3d;  //侧边栏菜单激活背景颜色